useDynLib(ibr, .registration = TRUE)


export(AIC.ibr,AICc,AICc.ibr,betaA,betaS1,betaS1lr,BIC.ibr,bwchoice,calcA,critAaic,critAaicc,critAbic,critAgcv,critAgmdl,critS1aic,critS1aicc,critS1bic,critS1gcv,critS1gmdl,cvobs,departnoyau,dssmoother,dsSx,DuchonQ,DuchonS,epane,fittedA,fittedS1,fittedS1lr,forward,gaussien,GCV,GCV.ibr,ibr,ibr.fit,iterchoiceA,iterchoiceAcv,iterchoiceAcve,iterchoiceAe,iterchoiceS1,iterchoiceS1cv,iterchoiceS1cve,iterchoiceS1e,iterchoiceS1lrcv,iterchoiceS1lrcve,kernelSx,lambdachoice,lambdachoicelr,lrsmoother,npregress,plot.forwardibr,plot.ibr,poids,predict.ibr,predict.npregress,print.ibr,print.npregress,print.summary.ibr,print.summary.npregress,quartic,residuals.ibr,summary.ibr,summary.npregress,sumvalpr,tracekernel,uniform)

importFrom(stats, BIC,delete.response, is.empty.model, model.frame,model.matrix, model.offset, model.response, na.fail,na.omit, optimize, predict, quantile, residuals, sd, terms, uniroot)
importFrom(graphics, plot,abline,image,text)
importFrom(mgcv,PredictMat,smoothCon)
S3method(plot,ibr)
S3method(predict,ibr)
S3method(print,ibr)
S3method(residuals,ibr)
S3method(summary,ibr)
S3method(print,npregress)
S3method(predict,npregress)
S3method(summary,npregress)
S3method(plot,forwardibr)
S3method(print,summary.ibr)
S3method(print,summary.npregress)
S3method(AIC,ibr)
S3method(BIC,ibr)
S3method(GCV,ibr)
S3method(AICc,ibr)

